node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.env.*
npmrc
dist
coverage
logs
*.log
postgres_data
redis_data
prometheus_data
grafana_data
app_logs
.vscode
.idea
*.md
.claude
